@media (max-width:1152px){
    .card img{
        width: 100%;
    }
    .Img{
        width: 100%;
    }
    .Img img{
        width: 100%;
    }
    .card__box{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .card{
        width: 48%;
    }
    .card__box :nth-child(3){
        display: none;
    }
    .main__card:nth-child(8){
        display: none;
    }
    .main__card:nth-child(5){
        display: none;
    }
}
@media (max-width:1000px){
    .navbar{
        display: none;
    }
    .header__search{
        width: 50%;
    }
}

@media (max-width:909px){
    .main__card:nth-child(7){
        display: none;
    }
    .main__card:nth-child(4){
        display: none;
    }
}
@media (max-width:809px){
    .card{
        width: 47%;
    }
}
@media (max-width:678px){
    .main__card:nth-child(4){
        display: inline;
    }
    .main__card:nth-child(6){
        display: none;
    }
}

@media (max-width:559px){
    .header__katalog{
        width: 80px;
        font-size: 14px;
    }
    .header__search input{
        width: 100%;
        height: 40px;
        font-size: 14px;

    }
    .card__box{
        gap: 0px;
    }
    .footer__info{
        font-size: 10px;
    }
    .header__logo a{
        font-size: 18px;
    }
}

@media (max-width:479px){
    .items__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
        
    }

@media (max-width:456px){
.main__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

    
}